#wrapper {
    
    color: black;
    background: white;
    float: left;

}
.item {
    width:30%;
    float: left;
    border: 2px solid gray;
    border-radius: 10px ;
    margin: 10px;
    text-align: center;
}
span{
    text-align: center;
}
.text-bold {
    font-size: 1.3em;
    font-weight: bold;
    float: left;
}
.text-light {
    font-size: 0.8em;
    font-weight: light;
    float: left;
}
.item-image-series {
    margin-top:6%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


main{
    width:1340px;
    height: 1850px;
}

@media screen and (min-width: 600px) {
    .header-nav {
        padding:0 0% 2% 4%;
        font-size:16px;
    }

    .item-image-series {
        margin-top:4%;
    }
    item {
        width:20%;
    }


}
span{
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    
    .item {
        width:20%;
    }

    .item-image-series {
        margin-top:2%;
    }
}
@media screen and (min-width: 992px) {
    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    
    .item {
        width:20%;
    }
    .item-image-series {
        margin-top:2%;
    }

}

@media screen and (min-width: 1200px) {
        .container {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-around;
        }
        
        
        .item {
            width:30%;
        }
        .item-image-series {
            margin-top:2%;
        }
    }



