main{
  background-image: url(/images/background.jpg);
  width: 1250;
  height: 1500px;
}
h1{
  
  color: white;
  text-align: center;
}
#box1{
 color: black;
 height:340px ;
 width: 800px;

 margin-left: 190px;
 padding: 5px;
 padding-left: 50px;
 background: white;
 box-shadow: 3px,3px,3px,3px,rgb(201, 186, 186);
 border-radius:15px ;
}

#team{
  border: black 7px solid;
  box-shadow:5px 4px 4px 4px rgb(164, 165, 159);
  color: black;
  height: 450px;
  width: 1000px;
  margin-left: 100px;
 padding: 10px;
 padding-top: 20px;
 padding-left: 50px;
 background: white;
 box-shadow: 3px,3px,3px,3px,rgb(201, 186, 186);
 border-radius:15px ;
}

.book1{
    float: right;
    height:200px;
    width:200px;
    margin: 50px;
    box-shadow: 5px 4px 4px 2px rgb(27, 26, 26);
    border-radius:15px ;
    
}



p{
  font-family: 'Times New Roman', Times, serif;
  
 
}
h2{
  margin-left: 100px;
  padding: 15px;

}


.tt {
 
  width: 200px;
  height: 80px;
  background-color: rgb(219, 127, 65);
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 9s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 9s;
  animation-iteration-count: infinite;
 
}



@-webkit-keyframes example {
  0%   {background-color:rgb(235, 145, 27); left:0px; top:0px;}
  70%  {background-color:rgb(212, 209, 37); left:200px; top:0px;}
  
 
}


@keyframes example {
  0%   {background-color:rgb(235, 145, 27); left:0px; top:0px;}
  70%  {background-color:rgb(212, 209, 37); left:600px; top:0px;}
  
  
}

@media screen and (max-width: 900px) {
  main{
    width: 850px;
    height: 2000px;
  }

  #box1{
    width: 500px;
    margin-left: 90px;
  }
  .book1{
    width:100px;
    margin: 40px;
  }
  #team{
    width: 500px;
    height: 650px;
    font-size: 15px;
  }

}

@media screen and (max-width: 620px){


@-webkit-keyframes example {
  0%   {background-color:rgb(235, 145, 27); left:0px; top:0px;}
  70%  {background-color:rgb(212, 209, 37); left:100px; top:0px;}
}


@keyframes example {
  0%   {background-color:rgb(235, 145, 27); left:0px; top:0px;}
  70%  {background-color:rgb(212, 209, 37); left:300px; top:0px;}
  
  
}
}
