
#wrapper{
    display:grid;
    grid-gap:10px;
}
form{
    margin-left:5em;
    margin-right:5em;
}

#contactus label{
    width:15em;
    float:left;
 
}

#contactus input{
    margin-left: 1em;
    margin-bottom: .5em; 
}

#leftbar{
    display:none;
    
}

#mainpart{
    
    background-color: white;
    margin:1em;
    padding:1em;
}
#bottomlink{
    background-color: white;
    padding:0.2em;
    margin:1em;
    background-color:white;
    text-align:center;
    font-weight:bold;
}
#contactus label{
    width:160px;
}
#button{
    margin-left:20vw;
}

@media screen and (min-width: 900px){

    #wrapper{
        display:grid;
        grid-gap:10px;
        grid-template-columns:20% 80%;
        grid-template-areas: 
        "leftbar mainpart"  ;
    }
    
    #leftbar{
        display:block;
        grid-area:leftbar;  
        margin:1em 1em 1em 3em;
        padding:1em;
        height:auto;
        font-weight:bold;
        background-color:white;
        text-align: center;
        
    }
    
    #mainpart{
        grid-area:mainpart;

    }
    form{
        margin-left:5em;
        margin-right:5em;
    }
    #bottomlink{
      
        display:none;
    }

}