main{
    padding-top: 10px;
}
#box{
    
    height: 45vw;
    width: 55vw;
    background: black;
    border-radius: 10px;
    margin:auto;
    margin-top:5vw;
    box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw #cfb6a6;
    color:white;
    padding:2vw;
    font-size: 1.5vw;
    color: rgb(175, 175, 175);
    font-weight: bold;
}

h2
{   
    font-weight: 10vw;
    color:white;
    text-align: center;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}


@-webkit-keyframes example {
    0% {
      background:  #fdaf48;
      
    }
    25% {
      background: #e0a761;
      
    }
    50% {
      background: #f1cc9a;
      
    }
    75% {
      background: #e0a761;
      
    
    }
    100% {
      background: #fdaf48;
      
    }
  }
p{
    font-weight: bold;
    color:#fbc988;
    
}

main li{
 font-style: italic;
}

main{
    background: url(../images/background1.jpg);
    height: 60vw; 
}

main h4{
    font-weight: 30px;
    font-style: italic;
    font-weight: 100;
    color: red;
}

#fname{
    margin-left: 5vw;
}

#lname{
    margin-left: 5vw;
}

#emailid{
    margin-left: 13.4vw;
}
textarea{
    margin-left: 14vw;
}
#feedback_button{
    background: #ff9100;
    font-weight: bold;
    font-size: 1.7vw;
    font-family: PT sans;
    width: 17vw;
    height: 4vw;
    margin-left: 14vw;
}