html{
    height:100%;
    margin: 0;
    padding:0;
}
body{
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
}

#home image{
   width: 250px; 
   height:80px;

}
header{
    background: linear-gradient(to right,white,white,#fdaf48);     
    display:flex;
    justify-content:space-between;
}

nav #cartpic{
    margin-top:15px;
    width: 50px;
    height: 40px;
}
#login{
    float: right;
    display: block;
    text-transform: initial;
    font-size: 12px;        
    font-weight: bold;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    margin-top: 35px;
    margin-right:1em;
    color:black;
}
#login:hover{
    color: white;
}
     
#menubar{
    background: black;
} 
#menubar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:space-between;
    background-color: black;
    
   }

#menubar ul li{
    float:left;
    text-align: center;
    background-color: black ;
}

#menubar ul li a{
    text-decoration: none;
    display: inline-block;
    text-transform: initial;
    color: white;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#menubar ul li a:hover{
    color: #fbaa3f;
}

#menubar li ul{
    display: none;
}
#menubar ul li{
    display:block;
    position:relative;
    float:left;
}
#menubar ul li a{
    display:block;
    padding-top:1em;
    padding-bottom:1em; 

    text-decoration:none;
    white-space:nowrap;
}
#menubar ul li a:hover{
    background:rgb(105, 105, 122);
}

#menubar li:hover>ul{
    display:block;
    position:absolute;
}

li:hover li{
    float:none;
}
ul ul a {
    left:100%;
    top:0;
    color: black;
  padding: 12px 16px; 
}

ul:before, ul:after{
    content:"";
    display:table;
}
ul after{
    clear:both;
}
.list a:hover .catt a{
    display: inline-block;
}

.catt a:hover{
    color:#fa8e00; 
}



#searchbox_input input{
    margin-top:1em;
    width: 10vw;    
    height: 15px;
}

#searchbox_button button{
    font-size: 9px;
    padding:0;
     font-weight: bolder; 
     font-family: 'PT Sans', sans-serif;
     width: 8vw;
 height: 18px;
 margin-top: 1.5em;
 background: linear-gradient( white,rgb(122, 121, 121));
}


main{
    background: url(../images/background.jpg);
    
}

/*
.flex-container {
    display: table-row;
    height: 30px;
    flex-wrap:wrap;
    align-content: flex-start;
  }
  
  .flex-container > #menubar li {
    width: 85px;
    margin: 10px;
    font-size: 30px;
  }
*/


footer{
    height: auto;
    background-color:black;
    text-align:center;
    color:#eb8c10;    
    font-family: 'PT Sans', sans-serif;
      

    }
/*footer nav li */
footer nav div{
    text-align: center;
    }
/*
footer nav ul li {
    list-style-type: none;
    } */
/* footer nav ul li a*/
footer div p a {
    text-decoration: none;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    }

#footer_img1,#footer_img2,#footer_img3,#footer_img4{
    height:40px;
    width:40px;
    margin-left: 30px;  
    margin-bottom: 15px;
    margin-top:-5px;
    border-radius: 10px;
}

/*#footer_img1{
    padding-left: 90px;
} */
/* bottombar ul */
#bottombar{
    display:flex;
    justify-content: space-between;
}

#contactus{
    text-align:left;
    margin-left:5vw;
    
    
}


#call{
    top:30px; 
   /*float:left;  */
    color: antiquewhite;
    font-size: 10px;
    margin-right:-10vw;
    margin-left:-1em;
   
   
}

#mailImg1{
  margin:0;

}
#mailImg{
    top:30px; 
 /*float:left; */
    font-size: 10px;
    color:white;
   margin-right:-10vw;
   
    
}
#terms{
    margin-left:30vw;
    margin-right:-10vw;
}

 #return_text{
    
  
    color: rgb(228, 200, 165);
    font-weight: bold;
  /*  top:-100px;
    margin-right:-160px; 
    margin-right:10px;
   */
  
    
}

#return
{       font-size: 40px;
    margin:0;
    padding:0;
        font-weight: bold;
        color: antiquewhite;
        padding-right: 20px;
        margin-top:-1vw;
        
}


#return a, #contact a, #terms a{
    font-size: 18px;
    color:#fa8e00;    }
    
#contact{
       /* float: left; */
        font-weight: bold;
        margin-top: 16px;
        }

#terms{
       /* float: left; */
        font-weight: bold;
        margin-top: 16px;
        margin-left:-1em;
        }

#terms a:hover{
        color: #ffffff;
        }
#return a:hover{
        color: #ffffff;
        }
#contact a:hover{
        color: #ffffff;
            }

#call1{
    width: 45px; height: 30px;
}
#mailImg1{
    width: 32px; height: 25px;
}
#return_text1,#return_text2{

    height:4px; 
    width:8px;
    padding:0;
    margin:0;
   

}

@media screen and (min-width: 900px){
    #login{
        
        font-size: 20px;        
        margin-top: 35px;
        margin-right:2em;
        
    }
    #menubar ul li a{
        
        font-size: 20px;
    }
    #menubar ul li{
        padding-top:5px;
    }

    #searchbox_input input{
        margin-top:1em;
        width: 15vw;    
        margin-left: 5vw; 
        height: 25px;
    }



    #menubar ul li{
 
        padding-left: 1vw;
        padding-right: 1vw;
     
    }

    #menubar ul li a{
        padding:1em;
}

#searchbox_button button{
    font-size: 16px;
 margin-right:3vw;
 width: 8vw;
height: 28px;
margin-top: 1em;

}

 
#contactus{
    margin-right:5vw;
    margin-left:2vw;
}
#terms{
    margin-right:4vw;
}

footer{
    padding:1px;
}

/* footer nav ul li a */
footer nav div a {
    font-size: 10px;
    }

#footer_img1,#footer_img2,#footer_img3,#footer_img4{
    height:40px;
    width:40px;
    margin-left: 60px;  
    margin-bottom: 15px;
    margin-top:-5px;
    border-radius: 10px;
}
#call{
   
    font-size: 16px;
    margin-right:-3em;
    margin-left:-0.5em;
   
}

#mailImg{  
    font-size: 16px;
}

#return a, #contact a, #terms a{
    font-size: 25px;
}
#returnbook img{
    margin-top:1em;
}

#return
{       font-size: 40px;
       
    position: relative;
        font-weight: bold;
        color: antiquewhite;
        top:-30px;
       
        margin-top: 25px;
        margin-left:-3vw;
      
} 

#return_text1,#return_text2{
    height:18px; width:18px;
   
}
}
#return_text{
    font-size:15px;
   
    
}
/* using media queries ahead */
/*
@media screen and (max-width: 900px) {
    
    body{
        max-width: 800px;
        min-height: 800px;
        margin: 5px;
    }
    
    header{
        width:800px;
        height: 100px;
        background: linear-gradient(to right,white,white,#fdaf48);
    }
    main{
        background: url(../images/background.jpg);
        width:800px;
        height: 1150px;
    }   
    
    #menubar{
        background: black;
        max-width: 800px;
        height: 60px;
    }
    
    #main_img{
        width:550px;
        height:300px;
        margin-left: 120px;
        margin-top: 50px;
    }
    
    #searchbox form input{
        margin-top:15px;
        width: 255px;    
    }
    
    #searchbox form button{
     margin-top:15px;
     margin-left: 20px;
     width: 64px;
     height: 30px;
     float: right;
    
    }
    #payment_menu a{
    margin-left: 150px;
    }
    #features{
        margin-right: 130px;
    }
    
    #about_bookabook{
        margin-left:120px;
    }
    footer{
        width:800px;
        }
    
    
  }
*/