body{
    font-weight:bold;
    margin: 0;
    padding: 0;
    background-position: center;
    font-family: 'PT Sans', sans-serif;
 }
 p{
     float: center;
 
 }
 .main_one{
     width: 220px;
     height: 300px;
     background-color:#000;
     color:#fff;
     box-sizing: content-box;
     float: left;
     margin-left: 150px;
     margin-top: 50px;
     padding-top: 50px;
     padding-left: 30px;
 }
 
 .main_two{
     float: right;
     width: 220px;
     height: 550px;
     background-color:#000;
     color:#fff;
     box-sizing: content-box;
     float: left;
     margin-left: 500px;
     margin-top: 50px;
     padding-top: 50px;
     padding-left: 30px;
     font-family: 'PT Sans', sans-serif;
 }
 