html{
    height:100%;
    margin: 0;
    padding:0;
}
body{
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
}

/* CSS added for the naviagation bar */

header{
    background: linear-gradient(to right,white,white,#fdaf48);     
    display:flex;
    justify-content:space-between;
}
   
#feedback_link{
    text-decoration: none;
}
header #logo{
    width: 250px;
    height:80px;
}
#footer{
    display: flex;
   flex-direction: row;
   font-size: large;
   align-content: space-around;
   justify-content: space-around;
}
#footer ul{
   text-decoration: none;
}
#footer ul li {
   list-style: none;
   color: white;
}
#footer ul li a{
   text-decoration: none;
}


#faviconsfooter{
   
   vertical-align: bottom;
}
#login{
    float: right;
    display: block;
    text-transform: initial;
    font-size: 20px;        
    font-weight: bold;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    margin-top: 35px;
    margin-right:2em;
    color:black;
}
#login:hover{
    color: white;
}
    

/* CSS for menu bar */

#menubar{
    background: black;
} 




#menubar ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:space-between;
    background-color: black;
    
}

#menubar ul li{
    float:left;
    text-align: center;
    background-color: black ;
    padding-top:5px;

}




/* Keyframes */
@keyframes change-background{
    0% {
      background:  #fdaf48;
      
    }
    25% {
      background: #e0a761;
      
    }
    50% {
      background: #f1cc9a;
      
    }
    75% {
      background: #e0a761;
      
    
    }
    100% {
      background: #fdaf48;
      
    }
  }
  

  nav #cartpic{
    margin-top:15px;
    width: 50px;
    height: 40px;
}
#menubar ul li a{
    text-decoration: none;
    display: inline-block;
    text-transform: initial;
    color: white;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#menubar ul li a:hover{
    color: #fbaa3f;
}

#menubar li ul{
    display: none;
}
#menubar ul li{
    display:block;
    position:relative;
    float:left;
}
#menubar ul li a{
    display:block;
    padding-top:1em;
    padding-bottom:1em;

    text-decoration:none;
    white-space:nowrap;
}
#menubar ul li a:hover{
    background:rgb(105, 105, 122);
}

#menubar li:hover>ul{
    display:block;
    position:absolute;
}

li:hover li{
    float:none;
}
ul ul a {
    left:100%;
    top:0;
    color: black;
padding: 12px 16px;
}

ul:before, ul:after{
    content:"";
    display:table;
}
ul after{
    clear:both;
}
.list a:hover .catt a{
    display: inline-block;
}

.catt a:hover{
    color:#fa8e00; 
}


/* CSSfor search box besides the menu */

#searchbox_input input{
    margin-top:1em;
    width: 15vw;    
    height: 25px;
}

#searchbox_button button{
    font-size: 16px;
    font-weight: bolder; 
    font-family: 'PT Sans', sans-serif;
    width: 8vw;
    height: 28px;
    margin-top: 1em;
    background: linear-gradient( white,rgb(122, 121, 121));
}


/* main is set with a background image*/
main{
    background: url(/images/background.jpg);
    
}


/*  slider style  */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: black;
background: #f1bbd6 ;
font-size: 1.8vw;
padding: 8px 12px;
font-weight: bold;
font-family: PT Sans;
position: absolute;
bottom: 8px;
width: 58vw;
text-align: center;
margin-bottom: 10px;

}


/* The dots/bullets/indicators */
.point {
height: 10px;
width: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}


/*  slider style end  */

.sliderClass img{
    width: 65vw;
    height: 26vw;
}
#footer{
    display: flex;
   flex-direction: row;
   font-size: large;
   align-content: space-around;
   justify-content: space-around;
}
#footer ul{
   text-decoration: none;
}
#footer ul li {
   list-style: none;
   color: white;
}
#footer ul li a{
   text-decoration: none;
}


#faviconsfooter{
   
   vertical-align: bottom;
}

#img22{
    width: 65vw;
    height: 32vw;
    margin-left: 8.5vw;
    border-radius: 10px;
    padding: 1em;
    border-radius: 2em;

}

#about_bookabook, #features{
    font-size: 1.2vw;
    background: white;
    width: 50vw;
    border-radius: 2vw;
    margin-left: 25vw;
    padding: 2vw;
}

#about_bookabook h2{
font-weight: bold;
font-size: 1.8vw;
}
#features h2{
    font-weight: bold;
    font-size: 1.8vw;
}


main h3{ 
       
    width: 35vw;
    border-radius: 12vw;
    background:#ee9961;
    margin-left: 32vw;
    margin-right: 15vw;
    padding: 0.8vw;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    font-family: PT Sans;
    animation: change-background 8s ease infinite;
}


/* CSS feedback boxes*/

.user_img{
    width: 7vw;
    height: 5.9vw;
    float: left;
    margin-left: 0vw;
    margin-top: 0vw;
    
}
.f1{
    
    animation: change-background 8s ease infinite;
    border-radius: 0.8vw;
    font-size: 1.3vw;
    margin: 0vw 20vw 0vw 20vw;
    background: wheat;
    padding: 0.5vw;
}
.f1 h2{
    font-weight: bold;
    font-size: 1.8vw;
}


/* CSS for footer */

footer{
    padding: 10px;
    height: auto;
    background-color:black;
    text-align: center;
    color:#eb8c10;    
    font-family: 'PT Sans', sans-serif;
    padding:1px;    

    }

footer nav ul{
    text-align: center;
    }

footer nav ul li {
    
    list-style-type: none;

    }

footer nav ul li a {
    text-decoration: none;
    font-size: 1.9vw;
    font-family: 'PT Sans', sans-serif;
    }

#footer_img1,#footer_img2,#footer_img3,#footer_img4{
    
    height:40px;
    width:40px;
    margin-left: 60px;  
    margin-bottom: 15px;
    margin-top:-5px;
    border-radius: 10px;
}

/*#footer_img1{
    padding-left: 90px;
} */

#bottombar ul{
    display:flex;
    justify-content: space-between;
}

#contactus{
    text-align:left;

}


#call{
    top:30px; 
/*float:left;  */
    color: antiquewhite;
    font-size: 16px;


}



#mailImg{
    top:30px; 
/*float:left; */
    font-size: 16px;
    color:white;
}
#terms{
    margin-left:25vw;
}

li #return_text{
    
    position: relative;
    color: antiquewhite;
    font-weight: bold;
/*  top:-100px;
    margin-right:-160px; 
    margin-right:10px;
*/
    
}

#return
{       font-size: 40px;
        float:right;
        position: relative;
        font-weight: bold;
        color: antiquewhite;
        top:-30px;
        padding-right: 30px;
        margin-top: 25px;
}

#returnbook img{
    margin-top:1em;
}
#return a, #contact a, #terms a{
    font-size: 25px;
    color:#fa8e00;    }
    
#contact{
    /* float: left; */
        font-weight: bold;
        margin-top: 16px;
        }

#terms{
    /* float: left; */
        font-weight: bold;
        margin-top: 16px;
        margin-left:-2em;
        }

#terms a:hover{
        color: #ffffff;
        }
#return a:hover{
        color: #ffffff;
        }
#contact a:hover{
        color: #ffffff;
            }


/*Css for Tab sized devices or resized browser desktop */

@media screen and (max-width: 900px) {
main{
    height: auto;
    width: 900px;
    }
#menubar>ul {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-content:center;
    }
#menubar{
    height: auto;
    width: auto;
    float: left;
        }
#menubar>ul>li a{
            font-size: small;
                }
.catt{
    display: none;
    background: black;
    }
                
.list:hover .catt{
    display: block;
    }
                
.catt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
        }
                
.list a:hover .catt a{
    display: inline-block;
        }
                
.catt a:hover{
    color:#fa8e00; 
        }
               
#main_img{
    width:450px;
    height:200px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px white;
        }
            
body{
    max-width: 1500px;
    min-height: 800px;
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
    }
            
header{
    width:900px;
    height: 100px;
    background: linear-gradient(to right,white,white,#fdaf48);     
    }
            
#login{
    float: right;
    display: block;
    text-transform: initial;
    font-size: 20px;        
    font-weight: bold;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    margin-top: 35px;
    margin-right:40px;
    color:black;
            }
        
#searchbox_input input{
    width: 90px;    
    float: left;
    height: 18px;
    margin:0;
        }
            
#searchbox_button  button{
    margin:0px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    width: 90px;
    height: 28px;
    background: linear-gradient( white,rgb(122, 121, 121));
    }

header{
    width: auto;
    }
            
.flex-container>header>a{
    font-size: 1px;
    }
            
main{
    width: auto;
    }
            
.slideshow-container{
    width: 20em;
    height: 20em;
    }

main img{
    margin-top:5vw;
    margin-left: -3.2vw;
        }
         
.point{
    display: none;
    }
}    


/*Css for Tab sized devices or resized browser desktop ENDS***/



/*Css for Mobile screens and tabs */
@media only screen and (max-width: 620px) {
    
   

.sliderClass img{
    height: 200px;
    width: 250px;
}
    
.f1{
    border-radius: 0.8vw;
    font-size: 3.9vw;
    margin: 0vw 20vw 0vw 20vw;
    background: wheat;
    padding: 0.5vw;
    }
.f1 h2{
    font-weight: bold;
    font-size: 5.0vw;
}
#about_bookabook, #features{
    padding:10px;
    font-size: 4.5vw;
}
#about_bookabook h2{
    font-size: 4.5vw;
}

#features h2{
    font-size: 4.5vw;
}
header{
    width:750px;
}
header #logo{
    width: 150px;
    height: 80px;
}

#login{
    float: right;
    display: block;
    text-transform: initial;
    font-size: 16px;        
    font-weight: bold;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    margin-top: 35px;
    color:black;
}

#footer_img1,#footer_img2,#footer_img3,#footer_img4{
    margin-left: 2px;
}

header,footer{
    width:780px;
}

footer nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
}

#return
{       
        float: left;
        font-size: 40px;
        font-weight: bold;
        color: antiquewhite;
        margin-top: 25px;
}

#return_text{
    display: none;
}
#terms{
    float:left;
    margin-left: 1px;
}
}


/*Css for Mobile screens and tabs ENDS*/