#payment{
    background: linear-gradient(to right,#fdaf48,#eeb974); 
    width: 700px;
    padding: 100px;
    margin-left: 90px;
    padding-top: 1  50px;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    
}
#CardSelect{

    color: black;
}
