
#leftbar{
    float:left;
    padding-right:50px;
    padding-left:50px;
    height:900px;
    

}

#book1{
    height:400px;
    width:300px;

}
*.block {
    display: block;
    width: 10%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;

  } 

  #mainpart{
    display:block;
    width: 1200px;
  }

  #wrapper{
      background-color:white;
      
  }